<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>On the Go</string>
	<key>CFBundleIdentifier</key>
	<string>com.greenshield.onthego.avanade</string>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/LeagueGothic.otf</string>
		<string>Fonts/Roboto-Regular.otf</string>
		<string>Fonts/Roboto-Bold.otf</string>
		<string>Fonts/NunitoSans-Black.ttf</string>
		<string>Fonts/NunitoSans-BlackItalic.ttf</string>
		<string>Fonts/NunitoSans-Bold.ttf</string>
		<string>Fonts/NunitoSans-BoldItalic.ttf</string>
		<string>Fonts/NunitoSans-Italic.ttf</string>
		<string>Fonts/NunitoSans-Regular.ttf</string>
		<string>Fonts/NunitoSans-SemiBold.ttf</string>
		<string>Fonts/NunitoSans-SemiBoldItalic.ttf</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location will be used in the “Find a health provider” feature and used for nearby search results, directions and estimated travel times. </string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location will be used in the “Find a health provider” feature and used for nearby search results, directions and estimated travel times. </string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location will be used in the “Find a health provider” feature and used for nearby search results, directions and estimated travel times. </string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>UIRequiresFullScreen</key>
	<string>YES</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleName</key>
	<string>On the Go</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0.1</string>
	<key>NSContactsUsageDescription</key>
	<string>The Application needs permission to save the data to Contacts</string>
	<key>NSCalendarsUsageDescription</key>
	<string>The Application needs permission to access your calendar to create new events.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The Application needs permission to use your phone.</string>
	<key>NSCameraUsageDescription</key>
	<string>The application needs permission to access your camera for &quot;Confirmation of Payment&quot; feature.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The application needs permission to access your photo library for &quot;Confirmation of Payment&quot; feature.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to the photo gallery.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
