<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>6.1</string>
	<key>CFBundleDisplayName</key>
	<string>Mobile Claims</string>
	<key>CFBundleIdentifier</key>
	<string>com.greenshield.encon.mobileclaims</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/AvenirLTStd-Black.otf</string>
		<string>Fonts/AvenirLTStd-BlackOblique.otf</string>
		<string>Fonts/AvenirLTStd-Book.otf</string>
		<string>Fonts/AvenirLTStd-BookOblique.otf</string>
		<string>Fonts/AvenirLTStd-Heavy.otf</string>
		<string>Fonts/AvenirLTStd-HeavyOblique.otf</string>
		<string>Fonts/LeagueGothic.otf</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Default-568h@2x.png</string>
		<string>Default-Landscape.png</string>
		<string>Default-Landscape@2x.png</string>
		<string>Default-Portrait.png</string>
		<string>Default-Portrait@2x.png</string>
		<string>AppIcons/120-x-120</string>
		<string>AppIcons/76-x-76</string>
		<string>AppIcons/152-x-152</string>
		<string>AppIcons/80-x-80</string>
		<string>AppIcons/40-x-40</string>
		<string>AppIcons/58-x-58</string>
		<string>AppIcons/29-x-29</string>
		<string>AppIcons/57-x-57</string>
		<string>AppIcons/114-x-114</string>
		<string>AppIcons/72-x-72</string>
		<string>AppIcons/144-x-144</string>
		<string>AppIcons/50-x-50</string>
		<string>AppIcons/100-x-100</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
</dict>
</plist>
